.nav-container{
    display: flex;
    flex-direction: row;
    /* vw and vh are relative to whole viewport, not just parent */
    width: 100vw;
    height: 10vh;
    background-color: blue;
    color: white;
    padding: 0px;
    /* top right left bottom */
    box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.8);
    /* highest z index is the top most */
    z-index: 10;
}
.branding{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 800;  
    padding: 10px;
    padding-left: 20px;
}
.account{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;
}